header nav{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #eeeff1;
    padding: 15px 100px;
}
header nav a {
    text-decoration: none;
}
.navbar-logo {
    color: #444;
    font-size: 25px;
    font-weight: 600;
}
.navbar-opt {
    display: flex;
}
.navbar-opt li {
    position: relative;
    list-style: none;
    margin-top: 4px;
}
.navbar-opt a {
    text-decoration: none;
    font-size: 1rem;
    padding: 10px 20px;
    color: #444;
    font-weight: 500;
}
.navbar-btn-login {
    padding: 10px 20px;
    background: #fe5b3b;
    color: #fff;
    border-radius: .5rem;
    margin-bottom: 3px;
    transition: 0.5s;
}
.navbar-btn-login:hover{
    transform: scale(1.1);
}
