.home {
    width: 100%;
    min-height: 90vh;
    position: relative;
    background: #eeeff1;
    color: #000;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
}
.home-text h1 {
    font-size: 3rem;
    letter-spacing: 2px;
}
.home-text p {
    margin: .5rem 0 1rem;
}

.home-image img {
    width: 100%;
    height: 100%;
}
.mu {
    background-color: #D8441F;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
}
.mu button{
    height: 100%;
}
.mu a {
    color: #fff;
    text-decoration: none;
}
.mu button :hover{
    background-color: #7f2812;

}
@media (max-width: 670px) {
    .home-image img {
       display: none;
    }
    .home {
        display: flex;
        width: 100%;
    }
}